<section ng-controller="HomeController">
  <div class="jumbotron text-center">
    

    




    <br>
    <div class="row">
    <h2>Welcome to the MeanPiCam application.</h2>
    
  </div>
    <div class="row">
      <p class="lead">
        MEAN Based application for running on the Raspberry Pi to manage IP Cameras.
      </p>
    </div>
    <div class="row">
      <p>
        <a class="btn btn-primary btn-lg" href="https://github.com/littleBane/meanPiCam" target="_blank">Learn more</a>
      </p>
    </div>
  </div>
  

  <div class="row">
    <div class="col-md-2">
      <h2><strong>M</strong>ongoDB</h2>
      <p><a target="_blank" href="http://mongodb.org/">
        <img alt="MongoDB" class="img-responsive text-center" src="modules/core/client/img/brand/mongodb.png" />
      </a>
    </div>
    <div class="col-md-2">
      <h2><strong>E</strong>xpress</h2>
      <p><a target="_blank" href="http://expressjs.com/">
      <img alt="express js" class="img-responsive text-center" src="modules/core/client/img/brand/expressjs.png" />
      </a>
      </p>
    </div>
    <div class="col-md-2">
      <h2><strong>A</strong>ngularJS</h2>
      <p><a target="_blank" href="http://angularjs.org/">
      <img alt="angularjs" class="img-responsive text-center" src="modules/core/client/img/brand/angularjs.png" />
      </a>
    </div>

    <div class="col-md-2">
      <h2><strong>N</strong>ode.js</h2>
      <p><a target="_blank" href="http://nodejs.org/">
      <img alt="nodejs" class="img-responsive text-center" src="modules/core/client/img/brand/nodejs.png" />
      </a>
    </div>
    <div class="col-md-2">
      <h2><strong>R</strong>aspberry Pi</h2>
      <p><a target="_blank" href="http://raspberrypi.org/">
      <small>
      <img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/client/img/brand/raspberrypi.png" />
      </small>
      </a>
    </div>
    <div class="col-md-2">
      <h2><strong>M</strong>otion</h2>
      <a target="_blank" href="http://angularjs.org/">
      <h1><i class="fa fa-video-camera img-responsive text-center"></i></h1>
      </a>
    </div>


  </div>
  <div class="well text-center">
    <p>Consider how to deal with security before setting up cameras.</p>
    <p>This application tracks users and cameras so considereration should be given about how to manage users and camera access.</p>
  </div>

</section>
